entrypoint = "README.md"
modules = ["nodejs-22"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Dev Server"
mode = "sequential"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd mobileAlt && EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=0.0.0.0 ./node_modules/.bin/expo start --tunnel --go --web --port 5000"
waitForPort = 5000

[[workflows.workflow]]
name = "EAS Init"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas init"

[[workflows.workflow]]
name = "EAS Update"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas update --auto"

[[workflows.workflow]]
name = "EAS Publish Preview iOS"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform ios --profile preview"

[[workflows.workflow]]
name = "EAS Publish Preview Android"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform android --profile preview"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dev Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web Frontend"

[[workflows.workflow]]
name = "Web Frontend"
author = "agent"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend-v2 && cross-env NODE_ENV=development PORT=5000 tsx server/index.ts"

[workflows.workflow.metadata]
outputType = "console"

[agent]
expertMode = true

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "-c", "cd frontend-v2 && NODE_ENV=production node dist/index.cjs"]
build = ["bash", "-c", "cd frontend-v2 && npm install && npm run build"]
